---
interface Props {
  slug: string;
  data: {
    name: string;
    description: string;
    url: string;
    github: string;
    techStack: string[];
  };
}

const { slug, data } = Astro.props as Props;
---

<section
  class="bg-secondary-900 rounded-xl m-2 p-2 flex flex-col align-center justify-center gap-1.5 shadow-lg shadow-secondary-900/80"
>
  <a href={`/projects/${slug}`}>
    <h2 class="text-2xl">{data.name}</h2>
  </a>
  <p>{data.description}</p>
  <section class="flex justify-center gap-1">
    <a target="_blank" href={`https://github.com/circus-real/${data.github}/`}>
      Source code
    </a> · <a target="_blank" href={data.url}>Live site</a>
  </section>
  <ul class="flex flex-wrap gap-2 justify-center items-center">
    {
      data.techStack.map((tech) => (
        <li class="shadow-md shadow-background-700 bg-background-700 px-2 pb-1 pt-0.5 rounded-lg">
          {tech}
        </li>
      ))
    }
  </ul>
</section>
