---
interface Props {
  slug: string;
  data: {
    name: string;
    description: string;
    url: string;
    github: string;
    techStack: string[];
  };
}

const { slug, data } = Astro.props as Props;
---

<section
  class="bg-neutral-700 rounded-xl m-2 p-2 flex flex-col align-center justify-center gap-1"
>
  <a href={`/projects/${slug}`}>
    <h2 class="text-2xl">{data.name}</h2>
  </a>
  <p>{data.description}</p>
  <section class="flex justify-center gap-1">
    <a target="_blank" href={`https://github.com/circus-real/${data.github}/`}>
      Source code
    </a> · <a target="_blank" href={data.url}>Live site</a>
  </section>
</section>
